@page
@model Votesys.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Manage User";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    var sesi = ViewData["Session"];
}

<h1>Manage Users</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New User</a>
</p>

<div class="col-12 border p-3">
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center">First Name</th>
                <th style="text-align:center">Last Name</th>
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Password</th>
                <th style="text-align:center">Gender</th>
                <th style="text-align:center">Age</th>
                <th style="text-align:center">Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
                <th>Gender</th>
                <th>Age</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


<script>
    var dataTable;
    $(document).ready(function () {
        var disp = $('#dispName');
        disp.text('@sesi');
        loadDataTable();

    })

    function loadDataTable() {
        $('#DT_load tfoot th').each(function () {
            var title = $('#DT_load thead th').eq($(this).index()).text();
            if (title != 'Password' && title != 'Action') {
                $(this).html('<input type="text"  class="form-control" placeholder="Find ' + title + '" />');
            }
        })
        //$('#DT_load tfoot th input').last().remove();

        dataTable = $('#DT_load').DataTable({
            "ajax": {
                "url": "/api/user",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "firstName" },
                { "data": "lastName" },
                { "data": "email" },
                { "data": "password", "sortable" : false },
                {
                    "data": "gender",
                    "render": function (data) {
                        return (data == 'M' ? 'Male' : 'Female');
                    }
                },
                { "data": "age" },
                {
                    "data": "userID",
                    "render": function (data) {
                        return `<div class="text-center">
                                <a href="/Admin/Users/Edit?id=${data}" class="btn btn-primary btn-sm">Edit</a>
                                <a class="btn btn-danger btn-sm text-white" onclick=Delete('/api/user?id=${data}')>Delete</a>
                                </div>`;
                    },
                    "sortable":false
                }
            ],
            "language": {
                "emptyTable": "No Items Found"
            },
            colReorder: true
        });

        $("#DT_load tfoot input").on('keyup keydown keypress change', function () {
            dataTable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
    }

    function Delete(url) {
        swal({
            title: 'Are you sure?',
            text: 'Data will be deleted permanently',
            icon: 'warning',
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            swal('Done',data.message, 'success');
                            dataTable.ajax.reload();
                        } else {
                            swal('Error', data.message, 'error');
                        }
                    }
                });
            }
        });
    }
</script>
